@charset "UTF-8";

/* cairo-regular - latin */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/cairo/Cairo-SemiBold.eot);
    src: url(../fonts/cairo/Cairo-SemiBold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/cairo/Cairo-SemiBold.woff2) format('woff2'),
    url(../fonts/cairo/Cairo-SemiBold.woff) format('woff'),
    url(../fonts/cairo/Cairo-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/cairo/Cairo-SemiBold.eot);
    src: url(../fonts/cairo/Cairo-SemiBold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/cairo/Cairo-SemiBold.woff2) format('woff2'),
    url(../fonts/cairo/Cairo-SemiBold.woff) format('woff'),
    url(../fonts/cairo/Cairo-SemiBold.ttf) format('truetype');
}


@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DroidKufi-Regular.eot);
    src: url(../fonts/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/DroidKufi-Regular.woff2) format('woff2'),
    url(../fonts/DroidKufi-Regular.woff) format('woff'),
    url(../fonts/DroidKufi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/DroidKufi-Bold.eot);
    src: url(../fonts/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/DroidKufi-Bold.woff2) format('woff2'),
    url(../fonts/DroidKufi-Bold.woff) format('woff'),
    url(../fonts/DroidKufi-Bold.ttf) format('truetype');
}

/*
 * 'AraJozoor-Regular (Arabic)
 */
/*@font-face {
  font-family: 'AraJozoor-Regular';
  src: url('../fonts/AraJozoor-Regular.eot');
  src: local('Ara Jozoor'), url('../fonts/AraJozoor-Regular.woff') format('woff'), url('../fonts/AraJozoor-Regular.ttf') format('truetype'), url('../fonts/AraJozoor-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
*, *::before, *::after {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

::selection {
    background: #ffc300;
    color: #fff;
}

* {
    font-family: 'Tajawal' !important;
}

.navbar * {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.navbar-inverse {
    background-color: #3597B0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
    padding-bottom: 10px;
}


.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.mof_footer {
    color: white;
}
h4.mof_footer {
    margin-bottom: 20px;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #3597B0;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #3597B0;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li:active > a {
    color: #fff;
}

.navbar-inverse .navbar-brand > img {
    height: 50px;
    /*padding-bottom: 15px;*/
    width: auto;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:active {
    color: #E8175D;
}

.navbar-inverse .dropdown-menu {
    background-color: #F6F9FC;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px !important;
    padding: 0;
    overflow: hidden;
    min-width: 240px;
    /*
    text-align: right;
    */
}

.navbar-inverse .dropdown-menu > li > a {
    color: #000;
    padding: 10px 20px;
    -webkit-transition: padding 0.5s ease-in-out;
    -moz-transition: padding 0.5s ease-in-out;
    -o-transition: padding 0.5s ease-in-out;
    transition: padding 0.5s ease-in-out;
}

.navbar-inverse .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown-menu > li > a:focus {
    background-color: #E4BD31;
    color: #fff;
    padding-right: 25px;
}

.navbar-inverse .dropdown-header {
    padding: 0px 20px;
}

.navbar-inverse .dropdown-menu .divider {
    margin: 3px 0;
}

/* modal */
.modal .modal-content {
    /*direction: rtl;*/
    background-color: #fbfbfb;
    box-shadow: none;
    border-radius: 0;
}

/* Modal animation */
.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.fade-scale.in {
    opacity: 1;
    transform: scale(1);
}

.modal .form-group label {
    font-weight: normal;
}

.modal .form-control:not(textarea) {
    height: 50px;
    border-radius: 0;
    border-color: #f0f0f0;
}

.modal textarea.form-control {
    border-color: #f0f0f0;
    border-radius: 0;
    resize: none;
}

/* public classes */

.btn-custom {
    position: relative;
    display: inline-block;
    margin: 8px 0px;
    min-width: 110px;
    max-width: 192px;
    overflow: hidden;
    z-index: 1;
    text-transform: uppercase;
    border: 2px solid #B8BB5A;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 9px 52px;
    line-height: 12px;
    color: #fff;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    background: #B8BB5A;
}

.btn-custom:before {
    z-index: -1;
    backface-visibility: hidden;
    content: '';
    position: absolute;
    width: 40px;
    height: 20px;
    left: 50%;
    opacity: 0;
    top: 50%;
    background: #fff;
    border-radius: 50%;
    margin-top: -10px;
    margin-right: -10px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
}

.btn-custom:hover {
    color: #3597B0;
}

.btn-custom:hover:before {
    opacity: 1;
    transform: scale(6);
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
}

/* search section */
.search {
    padding-top: 180px;
    padding-bottom: 180px;
    /*direction: rtl;*/
    /*background-image: url(../img/back2.png);*/
    background-color: #f1f1f1;
    /* background-attachment: fixed;
     background-size: cover;*/
}

.search .title h3 {
    font-size: 45px;
    color: #3597B0;
    margin-bottom: 3rem;
}

.search .title h4 {
    margin-bottom: 2rem;
    color: #3597B0;
    font-size: 20px;
}

.search form .form-control {
    height: 55px;
    padding: 20px 24px;
    font-size: 16px;
    margin-top: 80px;
    color: #555;
    border-color: #3597B0;
    background-image: none;
    border-radius: 30px;
    box-shadow: 3px 4px 20px 0px rgba(62, 82, 181, 0.2);
}

/* words section */

.words {
    padding-top: 50px;
    padding-bottom: 50px;
    /* direction: rtl;*/
    background-color: #fbfbfb;
}

.words .title h3 {
    font-size: 25px;
    margin-bottom: 50px;
}

.words .table-words {
    background-color: #fcfcfc;
    border-bottom: 1px solid #eee;
}

.words .table .discharges {
    color: #3597B0;
}

.words .table .word {
    color: #d9534f;
}

.words .table-words tr {
    height: 80px;
}

.words .table-words tr:hover {
    cursor: pointer;
    background-color: #fff;
}

.words .table-words tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}

footer {
       padding: 50px 0;
    /*direction: rtl;*/
    background-color: #3597B0;
    text-align:center;
}

footer .footer-logo img {
    height: 40px;
    margin-bottom: 20px;
}

footer .footer-logo .lead {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}

footer .app {
    display: inline-block;
    margin-bottom: 10px;
}

footer .app img {
    height: 60px;
}

footer .footer-links {
    margin-top: 7px;
    line-height: 30px;
}

footer .footer-links li > a {
    font-size: 17px;
    text-decoration: none;
    color: #fff;
}

footer .footer-links li:hover a {
    color: #E4BD31;
}

footer .copyright {
    color: #E4BD31;
    text-align: center;
    margin-top: 20px;
}

.inset {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6),
    0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: transparent !important;
    z-index: 999;
}

.inset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
}

.profile-section {
    padding-left: 50px;
}

.profile-section .dropdown-menu {
    background-color: #3597b0;
    border: 1px solid #3597b0;
    border-radius: 0 0 10px 10px !important;
    padding: 0;
    overflow: hidden;
    min-width: 220px !important;
    text-align: right;
    margin-left: 15px;
}

.profile-section .dropdown-menu > li > a {
    color: #ffffff;
    padding: 10px 20px;
    /* -webkit-transition: padding 0.5s ease-in-out;
     -moz-transition: padding 0.5s ease-in-out;
     -o-transition: padding 0.5s ease-in-out;
     transition: padding 0.5s ease-in-out;*/
}


@media (min-width: 768px) {
    #Taqeemk2 {
        margin-left: 111px;
    }
}